body{
    width: 100%;
    margin: 0px;

}

.main{
    height: 330px;
    background-color:#00B8FF;
}

.head{
    height: 75px;
    background-color:pink;
    display: inline;
    box-shadow: 10px 10px 5px #888888;
}

.head-right{
    width: 25%;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 5px 0 5px 0;
    float: left;
}
.head-left{
    width: 75%;
    float: right;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 15px 0 15px 0;
    display: inline;
}



ul {
    list-style-type: none;
    margin: 0;
    /*padding: 0;*
    overflow: hidden;
    /*background-color: #333;*/
}

li {
    float: right;
    /*border-right:1px solid #bbb;*/
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    /*background-color: #111;*/
}

.active {
    /*background-color: #4CAF50;*/
}

.login-left{
    width: 40%
}
.login-right{
    width: 60%
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.reg{
    background: white;
    color: black;
    box-shadow:0px 2px 6px 2px #888888;
    padding: 20px;
    margin-top: 50px;
    transition:0.3s;
}
.house{
    position: absolute;
    left: 0px;
    top: 40px;

}
.seller{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-left: 30%;
    text-transform: uppercase;
    margin-top: 5px;
}
.sld{
    text-align: center;
    color: white;
    margin-top: 30px;
}




#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}

#quote-carousel .carousel-control.left
{
  left: -12px;
}

#quote-carousel .carousel-control.right
{
  right: -12px;
}

#quote-carousel .carousel-indicators
{
  top: auto;
  bottom: 0px;
}

#quote-carousel .carousel-indicators li
{
  background: green;
}
#quote-carousel .carousel-indicators .active
{
  background: darkgreen;
}

#quote-carousel img
{
  margin-left: 85%;
}

.item blockquote {
    border-left: none;
    margin: 0;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 20%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: 30%;
    text-align: center;
    list-style: none;
}




/*why to sell with us*/
.why{
    margin-top: 40px;
}
/*why to sell with us closed*/





.circle{
    position: absolute;
    left: 50px;
    top: 20px;

}


.comp{
    position: absolute;
    left: 44%;
    top: 1390px;
}
.pro{
    position: absolute;
    left: 44%;
    top: 1590px;
}



/*testimony css goes here*/
    h4{
        font-weight: 600;
    }
    p{
        font-size: 12px;
        margin-top: 5px;
    }
    .price{
        font-size: 30px;
        margin: 0 auto;
        color: #333;
    }
    .right{
        float:right;
        border-bottom: 2px solid #4B8E4B;
    }
    .thumbnail{
        opacity:0.70;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    .thumbnail:hover{
        opacity:1.00;
        box-shadow: 0px 0px 10px #4bc6ff;
    }
    .line{
        margin-bottom: 5px;
    }
    @media screen and (max-width: 770px) {
        .right{
            float:left;
            width: 100%;
        }
    }






    .compa{
        box-shadow:0px 0px 0px 12px #19DEFF;
    }
/*testimony css closed here*/



.hr1 {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eee;
}



.foot{
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0 15px 0;
}